<div class="text-center w-100 m-auto">
  <h2 class="h3 mb-3 fw-normal">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-lg-3 mx-auto my-2">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="col-lg-3 mx-auto my-2">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
